* {
    box-sizing: border-box;
}

section {
    background: url(../img/background.png) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    font-family: Ubuntu, sans-serif;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.main-logo {
    margin-left: 106px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: inherit;
}

.menu {
    margin-left: auto;
    order: 2;
    margin-right: 106px;
    text-align: center;
}

.nav-menu {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-menu a{
    display: inline-block;
    margin-right: 28px;
}

#calendar {
    width: 20px; 
    height: 20px;
    background: url(../img/css_sprites.png) -14px -14px;
}

#forum {
    width: 28px; 
    height: 20px;
    background: url(../img/css_sprites.png) -110px -14px;
}

#map {
    width: 20px; 
    height: 20px;
    background: url(../img/css_sprites.png) -62px -14px;
}

.reg-menu {
    display: inline-block;
    vertical-align: middle;
    text-align: top;
    margin-left: 28px;
    font-size: 14px;
    line-height: 21px;  
}

.reg-menu a {
    color: inherit;
}

.main-logo:hover,
.reg-menu a:hover {
    color: #3CB878;
    transition: 0.7s;
}

#calendar:hover {
    background: url(../img/css_sprites-2.png) -14px -14px;
    transition: 0.7s;
}
#forum:hover {
    background: url(../img/css_sprites-2.png) -110px -14px;
    transition: 0.7s;
}
#map:hover {
    background: url(../img/css_sprites-2.png) -62px -14px;
    transition: 0.7s;
}

.form-container {
    height: calc(100vh - 60px);
}

.main-form {
    position: relative;
    left: 50%;
    margin-left: -222px;
    top: 50%;
    margin-top: -292px;
    width: 444px;
    height: 584px;
    border-radius: 5px;
    background: #FFFFFF;
}
 
.green-box {
    position: absolute;
    margin-top: 30px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.content-box {
    display: inline-block;
    margin: 30px 60px;
    width: 324px;
    height: 524px;
}

.form-heading,
.reg-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.form-heading h3{
    font-size: 20px;
    line-height: 11px;
    color: #434343;
}

.form-heading a {
    font-size: 14px;
    color: #3CB878;
}

.button1,
.button2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 157px;
    height: 46px;
    font-size: 16px;
    border-radius: 5px;
    border: transparent;
    color: white;
    font-family: inherit;
}

.button1 {
    background: #305DB8;
}
.button2 {
    background: #DF4A32;
}

.button1 img {
    padding: 4px 17px 4px 0;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.button2 img {
    padding: 6px 9px 6px 0;
    margin-left: -6px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
}

.div-line {
    text-align: center;
    width: 100%;
    height: 20px;
    margin-bottom: 16px;
    overflow: hidden;
}

.div-line span {
    position: relative;
    margin: 0;
    padding: 14px;
    font-size: 14px;
    color: #848484;
}
.div-line span::before,
.div-line span::after {
    display: block;
    right: 42px;                                       
    width: 140px;                    
    content: '';                     
    position: absolute;              
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);   
    top:50%;    
}
.div-line span::after {
    left: 42px;                         
}

input,
button {
    width: 100%;
    height: 46px;
    margin-bottom: 9px;
    font-family: inherit;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    text-indent: 18px;
    outline: none;
    transition: 1s;
    color: #434343;   
}

input::placeholder {
    color: #BEBEBE;
}

input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

#checkbox {
    display: none;
}

label {
    display: inline-block;
    font-size: 14px;
    margin-top: 11px;
    margin-bottom: 26px;
    color: #434343;
}

label span {
    font-size: 14px;
    color: #3CB878;
}

label::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #F2F2F2;
}

input[type="checkbox"]:checked + label::before {
    background: url(../img/vector.svg) no-repeat center;
}

button {
    background: #3CB878;
    color: white;
}
